@mixin container(){
    max-width: 1500px;
    margin: 0 auto; 
}

@mixin flexContainer($justify:center, $items:center,$direction:row, $gap:0){
    display: flex;
    justify-content: $justify;
    align-items: $items;
    flex-direction: $direction;
    gap: $gap;
}